// spacing

// vertical
h1, h2, h3, h4, h5, h6,
p, ol, ul, blockquote, hr,
table, figure, table > caption,
[am-progress]:not([am-progress~="inline"]) {
    &:not(:last-child) {
        margin-bottom: $rootLineHeight * 1rem;
    }
}
article, section, header, footer {
    &:not(:last-child) {
        margin-bottom: $rootLineHeight * 2rem;
    }
}

// horizontal
label,
[am-box~="inline"],
[am-button],
[am-checkbox],
[am-radio],
[am-icon],
[am-image],
[am-progress~="inline"],
[am-textBox] {
    &:not(:last-child) {
        margin-right: rem($space-little);
    }
}
