// boxes module

/*
    <div am-box="padded lunaBlue"></div>
*/

@import "modules/boxes/config";

[am-box] {
    @include box-sizing(border-box);
}

[am-box~="inline"] {
    display: inline-block;
    vertical-align: middle;
}

[am-box~="padded"] {
    padding: rem($space-large);
}

[am-box~="lunaBlue"] {
    color: $box-lunaBlue-txt-c;
    background-color: $box-lunaBlue-bg-c;
}

[am-box~="wrapper"] {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}
