#appContent {
    //
}

#productsList {
    a {
        display: inline-block;
        vertical-align: top;
        margin: rem($space-medium);
        &.fluidbox-opened {
            cursor: -webkit-zoom-out;
            cursor: -moz-zoom-out;
            cursor: zoom-out;
        }
        &.fluidbox-closed {
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
            &:hover {
                @include opacity(0.8);
            }
            &:active {
                @include opacity(0.6);
            }
        }
    }
}
